
.transactions-list {
    width: 3fr;
    padding: 0 1;
    /*border: solid green;*/
}

.buttons-panel {
    align: center top;
    padding: 0 1;
    width: auto;
    border: solid red;
}

.separator {
    height: 1fr;
}

.transactions-container {
    width: 1fr;
    height: 100%;
    border: heavy $primary;
    border-title-align: center;
    border-title-color: $accent;
    border-title-background: $surface;
    border-title-style: bold;
}
