.response-viewer {
    height: 90%;
    border: heavy $primary;
    border-title-align: center;
    border-title-color: $accent;
    border-title-background: $surface;
    border-title-style: bold;
}

#button-container {
    align: right middle;
    width: 100%;
}

#button-container Button {
    margin-left: 1;
}