#response-container {
    width: 100%;
    height: auto;
    border: heavy $primary;
    border-title-align: center;
    border-title-color: $accent;
    border-title-background: $surface;
    border-title-style: bold;
    align: center middle;
}

.response-viewer {
    height: 90%;
    border: heavy $error;

}

#response-button-container {
    align: right middle;
    width: 100%;
}

#response-button-container Button {
    margin-left: 1;
}